<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.riders.testing">

    <dist:module dist:instant="true" />

    <!-- Internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- Location -->
    <!--For using only network based location use this one-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--ACCESS_FINE_LOCATION permission need for google play services version.-->
    <!-- For GPS based location, this one -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.riders.testing.permission.MAPS_RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.perssion.READ_GSERVICES" />

    <permission
        android:name="com.riders.testing.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <!-- User Data -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />

    <!-- Hardware -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- Apps -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- Location -->
    <uses-feature
        android:name="android.hardware.location"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />


    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:appComponentFactory="whateverString"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute"
        tools:replace="android:appComponentFactory">


        <!-- ////////////// META-DATA ////////////// -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <!-- ////////////// META-DATA ////////////// -->


        <!-- ////////////// ACTIVITIES ////////////// -->
        <activity
            android:name=".activities.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.MainActivity"
            android:theme="@style/NoActionBarTheme" />

        <activity
            android:name=".activities.HighChartsActivity"
            android:parentActivityName=".activities.MainActivity" />

        <activity
            android:name=".activities.ServiceActivity"
            android:parentActivityName=".activities.MainActivity" />

        <activity
            android:name=".activities.FabricActivity"
            android:parentActivityName=".activities.MainActivity" />

        <activity
            android:name=".activities.ColorActivity"
            android:parentActivityName=".activities.MainActivity" />

        <activity
            android:name=".activities.RecyclerViewActivity"
            android:parentActivityName=".activities.MainActivity" />

        <activity
            android:name=".activities.TransitionActivity"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.TransitionDetailActivity"
            android:parentActivityName=".activities.TransitionActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".activities.WorkingTabsActivity"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/TabTheme" />

        <activity
            android:name=".activities.FloatingLabelsActivity"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/SwipeDownTheme" />

        <activity
            android:name=".activities.LocationGoogleAPIActivity"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/LocationTheme" />

        <activity
            android:name=".activities.ContactListActivity"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.ContactListDetailActivity"
            android:parentActivityName=".activities.ContactListActivity" />

        <activity
            android:name=".activities.LocationOnMapsActivity"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/LocationTheme" />

        <activity
            android:name=".activities.ScheduleJobActivity"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/TabTheme" />

        <activity
            android:name=".activities.DeviceInformationsActivity"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/SwipeDownTheme" />

        <activity
            android:name=".activities.PaletteActivity"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/PaletteTheme" />

        <activity
            android:name=".activities.FilterListViewActivity"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/FilterListViewTheme" />
        <activity
            android:name=".activities.FilterListViewDetailActivity"
            android:parentActivityName=".activities.FilterListViewActivity"
            android:theme="@style/FilterListViewTheme" />

        <activity
            android:name=".activities.MultiPaneActivity"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/MultiPaneTheme" />


        <activity
            android:name=".activities.RxJavaActivity"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/MultiPaneTheme" />

        <activity
            android:name=".activities.BuiltInWebViewActivity"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/BuiltInWebViewTheme" />

        <activity
            android:name=".activities.BuiltInBrowserActivity"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/BuiltInWebViewTheme" />

        <activity
            android:name=".activities.SongPlayerActivity"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/SongPlayerTheme" />


        <activity
            android:name=".activities.YoutubeActivity"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/YoutubeTheme" />

        <activity
            android:name=".activities.YoutubeDetailActivity"
            android:parentActivityName=".activities.YoutubeActivity"
            android:theme="@style/YoutubeTheme" />

        <activity
            android:name=".activities.SpeechToTextActivity"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".activities.ActivityRecognitionActivity"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".activities.WeatherActivity"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme" />
        <!-- ////////////// ACTIVITIES ////////////// -->


        <!-- ////////////// SERVICES ////////////// -->
        <!-- Service that provides activity recognition data. Setting the android:exported attribute
        to "false" stops other apps from starting this service, even when using an explicit
        intent. -->
        <service
            android:name=".services.DetectedActivitiesIntentService"
            android:exported="false" />

        <service android:name=".services.BackgroundDetectedActivitiesService" />
        <!-- ////////////// SERVICES ////////////// -->


        <!-- ////////////// BROADCAST RECEIVER ////////////// -->
        <!-- Broadcast Receiver -->
        <receiver
            android:name=".broadcast.NotificationBuilderReceiver"
            android:enabled="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- Connection -->
        <receiver
            android:name=".broadcast.ConnectivityReceiver"
            android:enabled="true">
            <intent-filter>
                <action
                    android:name="android.net.conn.CONNECTIVITY_CHANGE"
                    tools:ignore="BatteryLife" />
            </intent-filter>
        </receiver>
        <!-- ////////////// BROADCAST RECEIVER ////////////// -->


        <!-- Fabric -->
        <!--<meta-data
            android:name="io.fabric.ApiKey"
            android:value="d1773a19c4de531258673ec04e551804409ed0e2" />-->

    </application>

</manifest>